<nav class="navbar navbar-expand-sm fixed-top" style="background-color: #e2e2e2">
  <ul class="navbar-nav mr-auto">

    <li class="nav-item">
      <a class="navbar-brand" href="{% url 'home' %}">ThinkTank</a>
    </li>

    {% if user.is_anonymous %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chat:groupchat_select' %}"> Chat </a>
      </li>
    {% else %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Chat
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{% url 'chat:groupchat_select' %}"> Group Chat </a>
          <a class="dropdown-item" href="{% url 'chat:privchat_select' %}"> Priv Chat </a>
        </div>
      </li>
    {% endif %}

    {% if user.is_anonymous %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post:view_popular' %}"> Posts </a>
      </li>
    {% else %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Posts
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{% url 'post:view_following' %}"> Following </a>
          <a class="dropdown-item" href="{% url 'post:view_popular' %}"> Popular </a>
        </div>
      </li>
    {% endif %}
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        {{ navbar.welcome }}
      </a>

      <div class="dropdown-menu dropdown-menu-right">
        {% for link in navbar.links %}
          <a class="dropdown-item" href="{{ link.url }}"> {{ link.name }} </a>
        {% endfor %}
      </div>
    </li>
  </ul>
</nav>
