{% extends 'base.html' %}
{% load static %}
{% block content %}

  {% csrf_token %}

  {% for post in object_list %}
    <div class="container-sm card mb-5" id="post_{{ post.pk }}">
      <div class="card-body">
        <a href="{% url 'user:show_user' pk=post.author.pk %}">
          <h5 class="card-title">@{{ post.author }}</h5>
        </a>

        <p class="card-text">{{ post.content|linebreaksbr }}</p>

        <div class="btn-toolbar">

          <div class="btn-group mr-auto">
            <button class="btn btn-sm btn-primary" id="button_{{ post.pk }}">
              <span>{% if post.liked %}LIKED!{% else %}Like{% endif %}</span>
              <span>{{ post.likes.count }}</span>
            </button>
          </div>

          {% if post.author == user %}
            <div class="input-group ml-auto">
              <form action="{% url 'post:update_post' pk=post.pk %}">
                <button class="btn btn-sm btn-secondary" type="submit">Edit</button>
              </form>
              <form action="{% url 'post:delete_post' pk=post.pk %}">
                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
              </form>
            </div>
          {% endif %}

        </div>

      </div>
    </div>
  {% endfor %}


  <p style="padding-bottom: 100px"></p>
  {% include 'pagination.html' %}

  <script src="{% static 'post/viewposts.js' %}"></script>
{% endblock %}
