{% extends 'base.html' %}
{% block content %}


  <div class="container-sm card">
    <div class="card-body">
      <h5 class="card-title">@{{ user.username }}</h5>
      <p class="card-text">{{ user.bio }}</p>

      {% comment %}
      <button class="btn btn-sm btn-primary" id="button_{{ post.pk }}"></button>

      {% if post.author == user %}
        <form action="{% url 'post:update_post' pk=post.pk %}">
          <button class="btn btn-sm btn-secondary" type="submit">Edit</button>
        </form>
      {% endif %}
      {% endcomment %}

    </div>
  </div>
{% endblock %}