{% extends 'base.html' %}
{% load static %}
{% block content %}


  <form id='start_conversation_form' method="post" action="{% url 'chat:privchat_create' %}">
    {% csrf_token %}
  </form>

  <script id="follow_user_pk" type="application/json">{{ profile.pk }}</script>
  <script id="user_followers_url" type="application/json">{% url 'user:followers' pk=profile.pk %}</script>

  <div class="container-sm card">
    <div class="card-body">
      <h5 class="card-title">@{{ profile.username }}</h5>
      <p class="card-text">{{ profile.bio }}</p>

      {% with profile.following.count as c %}
        {% if c > 0 %}
          <a href="{% url 'user:following' pk=profile.pk %}">
        {% else %}
          <a href="#">
        {% endif %}
            Following: {{ c }}
          </a>
      {% endwith %}

      {% with profile.followers.count as c %}
        {% if c > 0 %}
          <a id='followers_link' href="{% url 'user:followers' pk=profile.pk %}">
        {% else %}
          <a id="followers_link" href="#">
        {% endif %}
            Followers:<span id="followers_count">{{ c }}</span>
          </a>
      {% endwith %}
      {% if user.is_authenticated and profile.pk != user.pk %}
        <button id="followers_button" class="btn btn-sm btn-primary">
          <span id="followers_label">{% if profile.is_followed %}FOLLOWING!{% else %}Follow{% endif %}</span>
        </button>
        <button form="start_conversation_form" class="btn btn-sm btn-primary" type="submit" name='pk' value="{{ profile.pk }}">
          Send a message
        </button>
      {% endif %}

    </div>
  </div>
  <script src="{% static 'user/userdetail.js' %}"></script>
{% endblock %}